@font-face {
  font-family: 'Light';
  src: url('./res/font/Spoqa_Han_Sans_Regular.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('./res/font/Spoqa_Han_Sans_Regular.ttf');
}

@font-face {
  font-family: 'Semibold';
  src: url('./res/font/Spoqa_Han_Sans_Regular.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('./res/font/Spoqa_Han_Sans_Regular.ttf');
}
